{% load static %}

{% block css_file %}
{% endblock css_file %}

<div class="column" >
    <a href="{% url 'post_details' post.slug %}">
        <div class="callout">
            <p class="post-title">
                {{ post.author }} | {{ post.date }}
            </p>
            <p><img src="{{ post.image.url }}" alt="{{ post.title }}" /></p>
            <p class="lead post-title">{{ post.title }}</p>
            <p class="subheader post-subtitle">{{ post.excerpt|truncatechars:120 }}</p>
        </div>    
    <a>
</div>