{% extends "base.html" %}
{% load static %}

{% block page_title %}My Blog{% endblock %}

{% block css_file %}
<style>
    
</style>
{% endblock css_file %}

{% block content %}
    <section>
        <div class="card large">
            <div class="row column text-center">
                <p class="page-title">My Collections</p>
            </div>
        </div>
        <div class="row small-up-1 medium-up-1 large-up-3">
            {% for post in posts %}
            {% include 'blogs/includes/post.html' %}
            {% endfor %}
        </div>
    </section>
{% endblock %}