{% extends "base.html" %}
{% load static %}

{% block page_title %}This Post Title{% endblock %}

{% block css_file %}{% endblock css_file %}

{% block content %}
    {% if comment_form.errors %}
        <div id="alert">
            <h2>Saving the comment failed!</h2>
            <p>Please check the comment form below the post and fix the errors.</p>
            <a href="#comment_form">Fix!</a>
        </div>
    {% endif %}

<div class="row" style="margin-top: 1rem;">
    <div class="large-8 columns" role="content">
        <article>
            <div class="row">
                <div class="large-6 columns">
                    <img 
                        class="thumbnail" 
                        src="{{ post.image.url }}"
                        alt="{{ post.title }}"
                    />
                </div>
                <div class="large-6 columns">
                    <h3 class="post-title">{{ post.title }} ({{ post.view_count }})</h3>
                    <h6 class="post-subtitle">Written by <a href="#">{{ post.author }}</a> on {{ post.date }}.</h6>
                    <p class="post-content">{{ post.excerpt }}</p>
                    <div class="expanded button-group">
                        {% for tag in post_tags %}
                            <a class="post-button expanded secondary button diabled" href="#" aria-disabled>
                                <p class="post-subtitle" style="color: white;">{{ tag.caption }}</p>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="expanded button-group">
                        <form method="POST" action="{% url 'read_later' %}">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{ post.id }}" />
                            {% if saved_for_later %}
                                <button class="post-button alert button expanded">
                                    <p class="post-subtitle" style="color: white;">Remove from "Stored Posts"</p>
                                </button>
                            {% else %}
                                <button class="post-button success button expanded">
                                    <p class="post-subtitle" style="color: white;">Add to "Stored Posts"</p>
                                </button>
                                    
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            <p class="post-content">{{ post.content }}</p>
        </article>
    </div>
    <aside class="large-4 columns">
        <section id="comment-form">
            <h3 class="post-title">Your Comment</h3>
            <form method="POST" action="{% url 'post_details' post.slug %}">
                {% csrf_token %}
                {% for form_field in comment_form %}
                    <div class="form-control {% if form_field.errors %}invalid{% endif %}">
                        {% comment %} {{ form_field.label_tag }} {% endcomment %}
                        {{ form_field }}
                        {{ form_field.errors    }}
                    </div>
                {% endfor %}
                <button type="submit" class="submit button expanded post-button">
                    <p class="post-subtitle" style="color: white;">Save Comment</p>
                </button>
            </form>
        </section>
        <section>
            <h3 class="post-title">All Comments</h3>
            <div class="columns is-desktop" id="comments">
                {% for comment in comments %}
                    <div class="row comment-section">
                        <div class="large-3 columns small-3">
                            <img 
                            class="comment-box-image"
                            src="{{ post.image.url }}"
                            alt="{{ post.title }}" />
                        </div>
                        <div class="large-9 columns small-9">
                        <strong class="post-subtitle">{{ comment.user_name }}</strong> 
                        <p class="post-subtitle">
                            {{ comment.text }}
                            {% comment %} {{ comment.text|linebreaks }} {% endcomment %}
                        </div>
                  </div>
                  <hr />
                {% endfor %}
            </div>
        </section>
    </aside>
</div>
{% endblock %}